@font-face {
    font-family: 'Sinkin Sans';
    src: url(sinkin-sans/SinkinSans-400Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gyre Adventor';
    src: url(TeX-Gyre-Adventor/texgyreadventor-regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gyre Adventor';
    src: url(TeX-Gyre-Adventor/texgyreadventor-bold.otf);
    font-weight: 700;
}