{% extends 'StudenciakBundle:Page:base.html.twig' %}

{% block title %}Kursy{% endblock %}

{% block general %}active{% endblock %}
{% block course %}active{% endblock %}

{% block view %}
  <div class="db-breadcrumbs">
                <a class="db-brdcmb-item" href="#">
                    <i class="icon-home"></i>
                </a>
                <a class="db-brdcmb-item" href="#">
                    Ogólne
                </a>
                <a class="db-brdcmb-item" href="#">
                    Kursy
                </a>
            </div>
            <h2>Moje kursy</h2>
            <table>
                <tr><th data-sorted="desc">Nazwa</th><th>Prowadzący</th><th>Postęp</th><th></th></tr>
                <tr>
                    <td>Metody autoprezentacji</td>
                    <td>dr Janusz Bąk</td>
                    <td>20%</td>
                    <td><i class="icon-settings"></i></td>
                </tr>
                <tr>
                    <td>Obiektowe bazy danych</td>
                    <td>dr Stanisława Plichta</td>
                    <td>66,6%</td>
                    <td><i class="icon-settings"></i></td>
                </tr>
            </table>
{% endblock %}

