{% extends 'StudenciakBundle:Page:base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block head %}
 <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="935126113867-oe3p7844mr22v5eoo0aj6kctkej35650.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
{% endblock %}

{% block user %}active{% endblock %}
{% block login %}active{% endblock %}

{% block view %}

 <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div><br /><br />
 <div id="zalogowano"></div>
 <script>
  function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);


        $.post('{{path('Ajax_Update_MyData')}}',               
          {id: profile.getId(), name: profile.getName(), image: profile.getImageUrl(), email: profile.getEmail()}, 
          function(response){
            

$("#zalogowano").html(profile.getName() + " zostałeś zalogowany. <br /><a href='{{path('profile')}}'>Kliknij, aby zobaczyć swój profil</a>");

          }, "json").fail(function() {alert("Cos poszlo nie tak"); });
      }
    </script>

    <div id="result"></div>


{% endblock %}
