{% extends 'StudenciakBundle:Page:base.html.twig' %}

{% block title %}
	Logowanie
{% endblock %}

{% block head %}

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<script src="https://apis.google.com/js/api:client.js"></script>
	<script>
		var googleUser = {};
		var startApp = function() {
			gapi.load('auth2', function(){
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
      	client_id: '935126113867-oe3p7844mr22v5eoo0aj6kctkej35650.apps.googleusercontent.com',
      	cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
    });
      attachSignin(document.getElementById('customBtn'));
  });
		};

		function attachSignin(element) {
			console.log(element.id);
			auth2.attachClickHandler(element, {},
				function(googleUser) {

					var profile = googleUser.getBasicProfile();

					$.post('{{path('loginAjax')}}',               
						{name: profile.getName(), image: profile.getImageUrl(), email: profile.getEmail()}, 
						function(response){

			       $("#zalogowany_dane").html("Witaj, " + profile.getName());	//dane w naglowku

			       if (response.code == "niezarejestrowany") 
			       {
			       	$("#zalogowany_tekst").html("Zostałeś zarejestrowany. <br /><br /> Będziesz mógł zalogować się, gdy administrator zaakceptuje Twoje konto.");
			       	$("#ikona").addClass("db-logged-icon-wait");
			       }
			       if (response.code == "niezaakceptowany")
			       {
			       	$("#zalogowany_tekst").html("Będziesz mógł zalogować się, gdy administrator zaakceptuje Twoje konto.");
			       	$("#ikona").addClass("db-logged-icon-wait");
			       }
			       if (response.code == "akceptowany")
			       {
			       	$("#zalogowany_tekst").html("zostałeś zalogowany");
			       	$("#zobacz_profil").show();
			       	$("#ikona").addClass("db-logged-icon-ok");
			       }

			       $("#customBtn").hide();
			       $("#div_zalogowany").show();


			   }, "json").fail(function() {alert("Cos poszlo nie tak"); });



}, function(error) {
	alert("Cos poszlo nie tak");
});
}
</script>

{% endblock %}

{% block user %}
	active
{% endblock %}
{% block login %}
	active
{% endblock %}

{% block view %}


	<div class="db-logged" >
		<div id="customBtn" style="margin-top: 50px">
			<button><span>Zaloguj się przy użyciu konta Google</span></button>
		</div>
		<div class="db-logged-container" style="display: none" id="div_zalogowany">
			<div class="db-logged-success" id="ikona"></div>
			<header class="db-logged-gratz" id="zalogowany_dane"> </header>
			<h3 id="zalogowany_tekst"></h3>
			<form action="{{path('profil')}}" id="zobacz_profil" style="display: none">
				<button type="submit">
					<i class="icon-magnifier"></i> <span>zobacz profil</span>
				</button>
			</form>
		</div>
	</div>



	<script>startApp();</script>

{% endblock %}
